@charset 'UTF-8';

@use "../global" as g;

body {
  color: g.$base-font-color;
  font-size: g.$base-font-size;
  font-family: g.$base-font;
  font-weight: g.$base-font-weight;
}

p,
dt,
dd,
li,
th,
td {
  line-height: g.$base-line-height;
}

a {
  @include g.link;

  color: g.$base-link-color;
  &:hover {
    color: g.$base-link-color;
  }
  //電話番号
  &[href^="tel:"] {
    color: g.$base-font-color;
    text-decoration: none;
    @media only screen and (min-width: g.$screen-pc-min) {
      pointer-events: none;
    }
  }
}

@if g.$responsive {
  @media only screen and (max-width: g.$screen-tb) {
    body {
      font-size: g.$base-font-size-tb;
    }
  }
}
