@charset "UTF-8";

@use "../global" as *;

body {
  font-size: $base-font-size;
  font-family: $base-font;
  font-weight: $base-font-weight;
  color: $color-text;
  background: $light-site-bg;

  @if $responsive {
    @media only screen and (max-width: $screen-tb) {
      font-size: $base-font-size-tb;
    }
  }
}

p,
dt,
dd,
li,
th,
td {
  line-height: $base-line-height;
}

a {
  @include link;
  color: $color-link;
  &:hover {
    color: $color-link;
  }

  //電話番号
  &[href^="tel:"] {
    color: inherit;
    text-decoration: underline;
    @media only screen and (min-width: $screen-pc-min) {
      text-decoration: none;
      pointer-events: none;
    }
  }
}
