@charset 'UTF-8';

@use "../global" as *;

body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font;
  font-weight: $base-font-weight;
}

p,
dt,
dd,
li,
th,
td {
  line-height: $base-line-height;
}

a {
  @include link;

  color: $base-link-color;

  &:hover {
    color: $base-link-color;
  }

  //電話番号
  &[href^="tel:"] {
    color: $base-font-color;
    text-decoration: underline;

    @media only screen and (min-width: $screen-pc-min) {
      text-decoration: none;
      pointer-events: none;
    }
  }
}

@if $responsive {
  @media only screen and (max-width: $screen-tb) {
    body {
      font-size: $base-font-size-tb;
    }
  }
}