@charset "UTF-8";

@use "../global" as *;

// CMS用（管理画面の幅を設定。基本的には.l-pageと同じ幅を全て指定する。）
@if $cms {
  #tinymce {
    width: $cms-column-width;
    padding-top: 0;

    &.article-free p {
      margin-bottom: 20px;
    }

    .slide-menu {
      display: block;
      padding-top: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      visibility: visible;
      opacity: 1;
    }

    [data-aos],.remodal {
      opacity: 1;
      transform: none;
    }
  }

  blockquote {
    border-left: 5px solid #ddd;
    padding: 5px 0 5px 30px;
    margin: 0;
  }
}