@charset "UTF-8";
// CMS内エディタ用クラス

@use "../../global" as *;

@mixin button01 {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  font-weight: bold;
  color: $primary;

  text: {
    align: center;
    decoration: none;
  }

  border: 1px solid $primary;
  border-radius: 4px;
  background: #fff;
  padding: 5px 20px;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    background: $primary;
  }
}

.button01 {
  @include button01;
}

@mixin button02 {
  // @include .button01; //色違いの場合のみ
}

.button02 {
  @include button02;
}

.file-icon {
  position: relative;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5;
  color: $base-font-color;
  padding-left: 20px;
  transition: 0.3s;

  &:before {
    font: {
      weight: 900;
      family: $f-fa;
    }
    position: absolute;
    top: 0;
    left: 0;
  }

  &[href$=".pdf"] {
    &:before {
      content: $icon-pdf;
      color: $color-pdf;
    }

    &:hover {
      color: $color-pdf;
    }
  }

  &[href$=".xls"],
  &[href$=".xlsx"],
  &[href$=".xlsm"] {
    &:before {
      content: $icon-xls;
      color: $color-xls;
    }

    &:hover {
      color: $color-xls;
    }
  }

  &[href$=".doc"],
  &[href$=".docx"] {
    &:before {
      content: $icon-doc;
      color: $color-doc;
    }

    &:hover {
      color: $color-doc;
    }
  }
}

// --------------------------------------------------
// その他：基本的に.button01/.button02にサブクラスで指定する
// --------------------------------------------------
