@charset "UTF-8";

@use "../../global" as *;

// --------------------------------------------------
// color指定のみ：サイトによって色合い（コード）を変える
// --------------------------------------------------

.primary-txt {
  color: $primary !important;
}
.black-txt {
  color: $color-text !important;
}
.red-txt {
  color: $color-red !important;
}
// .pink-txt {
//   color: #f0f !important;
// }
// .blue-txt {
//   color: #00f !important;
// }
// .green-txt {
//   color: #008000 !important;
// }
// .yellow-txt {
//   color: #ff0 !important;
// }
