@charset "UTF-8";

@use "../../global" as *;

// --------------------------------------------------
// 追加分ここから
// --------------------------------------------------

.anchor-box {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 10px;

  .anchor-ttl {
    position: absolute;
    background: #fff;
    top: -15px;
    left: 30px;
    padding: 0 20px;
  }

  .anchor-link {
    @include flex();
    gap: 15px 30px;
    padding: 30px 40px;

    & > li {
      & > a {
        display: block;
        position: relative;
        text-decoration: none;
        color: $base-font-color;
        padding-left: 22px;
        transition: all 0.3s;

        &:before {
          content: "\f107";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font: {
            weight: 900;
            family: $f-fa;
          }
          color: $primary;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  @media only screen and (max-width: $screen-tb) {
    .anchor-ttl {
      left: 10px;
      padding: 0 10px;
    }

    .anchor-link {
      padding: 20px 20px 15px;
      gap: 5px 0;

      & > li {
        width: 100%;
      }
    }
  }
}

.breadcrumb-wrap {
  ul.breadcrumb {
    font-size: 0;
    margin: auto;
    > li {
      display: inline-block;
      font-size: 14px;
      &:first-child {
        &:before {
          content: none;
        }
      }
      &:before {
        content: "/";
        margin: 0 9px;
      }
      > a {
        display: inline-block;
        color: $primary;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    ul.breadcrumb {
      text-align: left;
      width: 100%;
      > li {
        font-size: 12px;
      }
    }
  }
}

.box01 {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 30px;
  padding: 45px 50px;

  @media only screen and (max-width: $screen-tb) {
    padding: 20px;
  }
}

.box02 {
  @extend .box01;
  border: 1px solid $primary;
}

.box03 {
  @extend .box01;
  background: $primary;
  border: 1px solid $primary;
}

// --------------------------------------------------
// Headings
// --------------------------------------------------
h2 {
  &.top {
    // トップページ用
  }

  &:not(.top) {
    // サブページ用
  }
}

h3 {
  &.top {
    // トップページ用
  }

  &:not(.top) {
    // サブページ用
  }
}

h4 {
  &.top {
    // トップページ用
  }

  &:not(.top) {
    // サブページ用
  }
}

h5 {
  &.top {
    // トップページ用
  }

  &:not(.top) {
    // サブページ用
    font-weight: bold;
    color: $primary;
    margin-bottom: 10px;
  }
}

// --------------------------------------------------
// Common
// --------------------------------------------------
// タグの色指定
.tag {
  display: inline-block;

  font: {
    size: 12px;
    weight: bold;
  }

  color: #fff;
  line-height: 1.5;
  padding: 0 5px;
  background: $primary;

  &.-info {
    background: $secondary;
  }
}

//全体ホバー
.hover-all {
  position: relative;

  > a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    font-size: 0;
  }
}

//youtubeの自動レスポンシブ対応
.youtube-wrap {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;

  > iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// オブジェクトフィット
.ofi {
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &.-top > img {
    object-position: top;
  }

  &.-bottom > img {
    object-position: bottom;
  }

  &.-left > img {
    object-position: left;
  }

  &.-right > img {
    object-position: right;
  }

  // [1]縦横の比率を変えたくない場合に使用する。
  // [2]padding-top: 100%;（親要素に対する縦の比率）を指定する。
  &.-ratio {
    display: block;
    overflow: hidden;
    position: relative;

    > img {
      min-height: 100%;
      width: 100%;
      min-width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto auto;
    }
  }
}

//複数お知らせ・ブログがある場合は複製して、親のクラス名を変更する。
// --------------------------------------------------
// お知らせ詳細
// 複数お知らせ・ブログがある場合は複製して、親のクラス名を変更する。
// --------------------------------------------------
// お知らせ詳細のレイアウト
// h1:キービジュアル
// h2:ページタイトル
.news-detail {
  & > * + h3 {
    // 見出しのスタイル
    margin-top: 60px;
  }

  & > * + h4 {
    // 見出し(小)のスタイル
    margin-top: 30px;
  }

  .news-detail-free {
    // 自由文のスタイル
    margin: 0 0 40px;

    p {
      margin-bottom: 20px;
    }
  }

  .news-detail-image {
    // 画像のスタイル
    text-align: center;
    margin: 10px auto;

    > img {
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }

  .news-detail-pdf {
    a[href$=".pdf"] {
      vertical-align: middle;
      position: relative;
      padding-left: 20px;
      &:after {
        content: $icon-pdf;
        font: 900 16px $f-fa;
        position: absolute;
        top: 0;
        left: 0;
        color: $color-pdf;
      }
    }
  }

  > *:empty {
    display: none;
    font-size: 0;
    line-height: 0;
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    &:before,
    &:after {
      display: none;
    }
  }
}

// 矢印が必要な場合は.iconを編集してください。
.pagination {
  margin-top: 80px;
  @include flex(row, wrap, center, stretch);
  gap: 8px;

  @media only screen and (max-width: $screen-tb) {
    margin-top: 40px;
    gap: 5px;
  }

  .item {
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;

    font: {
      size: 16px;
      weight: bold;
    }

    color: $base-font-color;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    background-color: #ddd;
    transition: all 0.3s;

    &.icon {
      display: none;

      // background-color: unset;
      // transition: .3s;
      // background-color: #ddd;
      // border-radius: 50%;

      // &::before {
      //   content: "";
      //   transition: .3s;

      //   font: {
      //     family: $f-fa;
      //     weight: 900;
      //     size: 13px;
      //   }

      //   color: $base-font-color;
      // }

      // &:first-of-type {
      //   &::before {
      //     content: "\f060";
      //   }
      // }

      // &:last-of-type {
      //   &::before {
      //     content: "\f061";
      //   }
      // }

      // &:hover {
      //   background-color: $primary;
      //   &::before {
      //     color: #fff;
      //   }
      // }
    }

    &[href="#"] {
      cursor: default;
      pointer-events: none;
    }

    @media only screen and (max-width: $screen-tb) {
      width: 40px;
      height: 40px;
      font-size: 14px;

      .icon {
        width: 35px;

        &::before {
          font-size: 12px;
        }
      }
    }
  }

  a:hover,
  .active {
    color: #fff;
    background: $primary;
  }
}
