@charset "UTF-8";

@use "../../global" as *;
@use "common";
@use "list";
@use "button";
@use "table";

// --------------------------------------------------
// 病院指標のスタイル
// --------------------------------------------------

// #dpc-wrapperで、病院指標のHTMLのコンテンツ全体をラップしてください。
// 例) <article id="dpc-wrapper"></article>
#dpc-wrapper {
  >* {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  // --------------------------------------------------
  // Headings
  // --------------------------------------------------

  h1 {
    // @extend h2;
  }

  .div-title {
    @extend h4;
    @include flex(row, nowrap, space-between, center);
    column-gap: 10px;
    row-gap: 20px;

    @media only screen and (max-width: $screen-tb) {
      @include f-direction(column);
      @include f-wrap(wrap);
      row-gap: 10px;
    }
  }

  @for $i from 0 through 30 {
    #cd_top5_nm_#{$i} {
      @extend h5;
      margin-top: 3rem;
    }
  }

  // --------------------------------------------------
  // その他
  // --------------------------------------------------
  .out_link {
    text-align: right;
  }

  ol.contents {
    @extend .cms-ollist;
  }

  .csv_btn {
    @extend .button01;
  }

  .comment {
    // @extend .box01;
  }

  // .dpc-table-wrapが必要な場合は、jQueryで作成してください
  //   $(function () {
  //     $("#dpc-wrapper table").wrap("<div class='dpc-table-wrap'></div>");
  //   })
  .dpc-table-wrap {
    overflow: auto;
    margin-bottom: 30px;
  }

  table {
    @extend .table01;
    @extend .nodrop-table;
    min-width: max-content;

    th,
    td {
      max-width: 300px;
    }
  }
}