// --------------------------------------------------
// Setting
// --------------------------------------------------

// 1.checkbox, radio の枠の色とチェックマーク色を調整したい場合
// 非セレクト時の線の色
$form_default_border_color: #787878;
// セレクト時の色
$form_active_background_color: #2196f3;
$form_active_border_color: #2196f3;
// checkbox内側のマークの色
$form_active_checkbox_mark: #fff;

// 2.項目名のスタイル
@mixin form_title {}

// 3.「必須」のスタイル
@mixin form_required {}

// 4.ボタンのスタイル
@mixin form_button {
  &.button01 {
    @extend .button01;
  }

  &.button02 {
    @extend .button02;
  }
}

// --------------------------------------------------
// Style
// --------------------------------------------------
.l-main {
  .ui.form.inputForm {

    // 項目名・必須マーク
    .input_preview {
      >.input_labels {
        >.input_label {
          @include form_title;
        }

        >.input_required {
          @include form_required;
        }
      }
    }

    // 選択チェック：checkbox, radio
    .icheck-material-blue {
      >input:first-child {
        background-color: $form_active_background_color;

        +label::before {
          border-color: $form_default_border_color;
        }

        &:checked+label {
          &:before {
            border-color: $form_active_border_color;
            background-color: $form_active_background_color;
          }

          &:after {
            border: {
              bottom-color: $form_active_checkbox_mark;
              right-color: $form_active_checkbox_mark;
            }
          }
        }
      }

      >input[type="radio"]:first-child:checked+label::after {
        background-color: $form_active_background_color;
      }
    }

    p,
    div {
      &:not(.text, .item) {
        line-height: $base-line-height;
        letter-spacing: $base-letter-spacing;
      }
    }

    // ボタン
    button,
    a {
      @include form_button;
    }

    a {
      color: $base-link-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: $base-link-color;
      }

      &[href^="tel:"] {
        color: $base-font-color;
        text-decoration: none;
      }
    }
  }
}