@charset "UTF-8";

@use "../../global" as *;
//@use "common" as *;

// --------------------------------------------------
// Container
// --------------------------------------------------
.l-container {
  overflow: clip;
}

// 幅を指定するパターン
// 1.「.center-box」を使用
// <div class="center-box" style="max-width:800px"></div>
// 2.「.container.-w800」などサブクラス使用
// .container {
//   &.-w800 {
//     width: calc(800px + #{$gutter-pc});
//     @media only screen and (max-width: $screen-tb) {
//       width: auto;
//     }
//   }
// }

// --------------------------------------------------
// Body
// --------------------------------------------------
body {
  width: 100%;
  text-align: justify;

  &.open {
    height: 100%;
    overflow: hidden;
    position: fixed;
  }

  @if $header-fixed-pc {
    padding-top: $header-height-pc;
  }

  @media only screen and (max-width: $screen-tb) {
    @if $header-fixed-sp {
      position: relative;
      padding-top: $header-height-sp;
    } @else {
      padding-top: 0;
    }
  }
}

// --------------------------------------------------
// Header
// --------------------------------------------------
header {
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;

  @if $header-fixed-pc {
    position: fixed;
  } @else {
    position: relative;
  }

  @media only screen and (max-width: $screen-tb) {
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;

    @if $header-fixed-sp {
      position: fixed;
    } @else {
      position: relative;
    }
  }
}

// --------------------------------------------------
// Grobal-navigation
// --------------------------------------------------
nav.g-nav {
}

// --------------------------------------------------
// Slide-menu
// --------------------------------------------------
.slide-menu {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #fff;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 100%;
  padding-top: $header-height-sp;
  transition: left 0.3s;

  @media only screen and (min-width: $screen-pc-min) {
    display: none;
    // PCで全画面表示する場合
    // left: 0;
    // transition: all 0.3s;
    // visibility: hidden;
    // opacity: 0;
    // body.open & {
    //   visibility: visible;
    //   opacity: 1;
    // }
  }

  body.open & {
    left: 0;
  }
}

// PCでスライドメニュー
// #overlay {
//   height: 100vh;
//   width: 100%;
//   visibility: hidden;
//   background: rgba(255, 165, 0, 0.5);
//   position: fixed;
//   z-index: 9996;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   transition: all 0.3s ease;
//   body.open & {
//     visibility: visible;
//     opacity: 1;
//   }
// }

// --------------------------------------------------
// Key-visual
// --------------------------------------------------
.key-visual {
}

// --------------------------------------------------
// Main
// --------------------------------------------------
main.l-main {
  @include clearfix;
}

// --------------------------------------------------
// ColumnPage
// --------------------------------------------------
// 全画面表示
.column-container {
  @include flex($f-wrap: nowrap);
  gap: 40px;
  .l-page {
    width: 100%;
    max-width: $container-pc;
    margin: 0 auto;
  }
  .l-side {
    width: 260px;
    flex-shrink: 0;
  }
  @media only screen and (max-width: $screen-tb) {
    gap: 20px;
    .l-side {
      width: 220px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .l-side {
      display: none;
    }
  }
}

// コンテナ幅内で設置
// .l-page {
//   float: left;
//   width: 700px;

//   @media only screen and (max-width: $screen-tb) {
//     float: none;
//     width: 100%;
//   }
// }
// .l-side {
//   float: right;
//   width: 260px;

//   @media only screen and (max-width: $screen-tb) {
//     display: none;
//   }
// }

// --------------------------------------------------
// Side
// --------------------------------------------------
// Sideの中身
.side-ttl {
  font-size: 20px;
  font-weight: bold;
  color: $color-white;
  line-height: 1.5;
  border-radius: 10px;
  background: $primary;
  padding: 20px 20px;
  &.side-accordion {
    position: relative;
    &:after {
      content: $icon-plus;
      height: 25px;
      width: 25px;
      font-size: 12px;
      font-family: $f-fa;
      font-weight: 900;
      color: $color-text;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
      background: $color-white;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      transition: 0.3s;
    }
    &.active:after {
      content: $icon-minus;
    }
  }
  @media only screen and (max-width: $screen-tb) {
    font-size: 16px;
    padding: 10px;
    &.side-accordion {
      &:after {
        height: 20px;
        width: 20px;
        line-height: 20px;
        right: 10px;
      }
    }
  }
}

.side-nav {
  > li {
    border-bottom: 1px solid $color-border;
    > a {
      display: block;
      font-size: 17px;
      font-weight: 500;
      color: $color-text;
      line-height: 1.5;
      text-decoration: none;
      position: relative;
      padding: 25px 45px 25px 10px;
      transition: 0.3s;
      &:after {
        content: $icon-angle-right;
        height: 21px;
        width: 21px;
        font-size: 12px;
        font-family: $f-fa;
        font-weight: 900;
        color: $color-white;
        line-height: 1;
        line-height: 21px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background: $primary;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        transition: 0.3s;
      }
      &:hover {
        &:after {
          transform: translate(5px, -50%);
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    > li {
      > a {
        font-size: 14px;
        padding: 15px 30px 15px 10px;
        &:after {
          height: 18px;
          width: 18px;
          line-height: 18px;
          right: 10px;
        }
      }
    }
  }
}

// --------------------------------------------------
// Footer
// --------------------------------------------------
footer {
}
