@charset "UTF-8";

@use "../../global" as *;

// --------------------------------------------------
// お知らせ
// リストタイプ：http://parts-template2.light-cms.com/news/index.html
// カードタイプ：http://parts-template2.light-cms.com/card/index.html#card1
// --------------------------------------------------
// お知らせ一覧にPDFアイコンを表示する
// @extend で対応してください。
.news-link-event01 {
  // aタグがテキストの場合
  a {
    &[href$=".pdf"] {
      position: relative;
      padding-left: 20px;
      &:after {
        content: $icon-pdf;
        font: 900 16px $f-fa;
        position: absolute;
        top: 0;
        left: 0;
        color: $color-pdf;
      }
    }

    &[href="#"] {
      color: $base-font-color;
      text-decoration: none;
      pointer-events: none;
    }
  }
}

.news-link-event02 {
  // カードタイプ（.hover-all）の場合
  // デザインによって.txt-wrap/.ttlのクラス名変更必要
  pointer-events: none;

  a {
    pointer-events: all;

    &[href="#"] {
      pointer-events: none;
    }

    &[href$=".pdf"] {
      ~.ttl {
        position: relative;
        padding-left: 20px;
        &:after {
          content: $icon-pdf;
          font: 900 16px $f-fa;
          position: absolute;
          top: 0;
          left: 0;
          color: $color-pdf;
        }
      }

      &:hover {
        ~.ttl {
          text-decoration: underline;
        }
      }
    }
  }
}

// --------------------------------------------------
// お知らせリスト（ここから）
// --------------------------------------------------

// --------------------------------------------------
// デフォルト（CMS内エディタ用クラス）
// --------------------------------------------------

// リストの中の擬似要素にまでtext-indentが継承される問題！！！
// text-indentを使わない OR before,afterにデフォルト(_core)でtext-indent:0;にする

.cms-ullist,
.dot-list {
  >li {
    padding-left: 20px;
    position: relative;

    &:before {
      content: "●";
      color: $primary;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &[style="list-style-type: circle;"],
  &[style="list-style-type: square;"] {
    >li {
      list-style-type: inherit;
      text-indent: 0;

      &::before {
        content: none;
      }

      &::marker {
        color: #7c7eba;
      }
    }
  }
}

.cms-ollist,
.num-list {
  counter-reset: section;

  >li {
    padding-left: 20px;
    position: relative;
    counter-increment: section;

    &:before {
      content: counter(section) ".";
      color: $primary;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &[style="list-style-type: lower-alpha;"],
  &[style="list-style-type: lower-roman;"],
  &[style="list-style-type: upper-alpha;"],
  &[style="list-style-type: upper-roman;"] {
    >li {
      list-style-type: inherit;
      text-indent: 0;
      margin-left: 0;

      &::before {
        content: none;
      }

      &::marker {
        color: #7c7eba;
      }
    }
  }
}

.asterisk-list {
  @extend .dot-list;

  >li {
    &:before {
      content: "※";
    }
  }
}