@charset "UTF-8";

@use "../../global" as *;

// --------------------------------------------------
// お知らせ
// --------------------------------------------------
// お知らせ一覧にPDFアイコンを表示する
@mixin news-link-event01($line-height: 2) {
  // aタグがテキストの場合
  a {
    &[href$=".pdf"] {
      position: relative;
      padding-left: 20px;
      &:after {
        content: $icon-pdf;
        font-size: 16px;
        font-family: $f-fa;
        font-weight: 900;
        color: $color-pdf;
        line-height: $line-height;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &[href="#"] {
      color: $color-text;
      text-decoration: none;
      pointer-events: none;
    }
  }
}

@mixin news-link-event02($txt-wrap: ".txt-wrap", $ttl: ".ttl") {
  // カードタイプ（.hover-all）の場合
  // デザインによって.txt-wrap/.ttlのクラス名変更必要
  pointer-events: none;

  a {
    pointer-events: all;

    &[href="#"] {
      pointer-events: none;
    }

    &[href$=".pdf"] {
      ~ #{$txt-wrap} {
        #{$ttl} {
          position: relative;
          padding-left: 20px;
          &:after {
            content: $icon-pdf;
            font-size: 16px;
            font-family: $f-fa;
            font-weight: 900;
            color: $color-pdf;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      // &:hover {
      //   ~ .ttl {
      //     text-decoration: underline;
      //   }
      // }
    }
  }
}

// --------------------------------------------------
// お知らせリスト（ここから）
// --------------------------------------------------

// --------------------------------------------------
// 単純なリスト
// --------------------------------------------------

// カードタイプ
.card-list {
  display: grid;
  gap: 45px 40px;

  grid-template-columns: repeat(3, 1fr);
  &.cols-2 {
    gap: 40px 60px;

    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: $screen-tb) {
    gap: 30px;

    grid-template-columns: repeat(2, 1fr);
    &.cols-2 {
      gap: 30px;
    }
  }
  @media only screen and (max-width: $screen-sp) {
    gap: 20px;

    grid-template-columns: repeat(1, 1fr);
    &.cols-2 {
      gap: 20px;

      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// ボタンタイプ
.btn-list {
  display: grid;
  gap: 20px 40px;

  grid-template-columns: repeat(3, 1fr);
  &.cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  a.button01 {
    height: 100%;
    max-width: 100%;
  }
  @media only screen and (max-width: $screen-tb) {
    gap: 20px 20px;

    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: $screen-sp) {
    grid-template-columns: repeat(1, 1fr);
    &.cols-2 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.interview-list {
  display: grid;
  gap: 50px 40px;

  grid-template-columns: repeat(2, 1fr);
  &.-side {
    grid-template-columns: repeat(1, 1fr);
  }
  @media only screen and (max-width: $screen-tb) {
    gap: 40px 20px;
  }
  @media only screen and (max-width: $screen-sp) {
    grid-template-columns: repeat(1, 1fr);
  }
}

ol.flow-list {
  counter-reset: flow-counter;

  > li + li {
    position: relative;
    margin-top: 50px;
    &:before {
      content: "";
      height: 20px;
      width: 50px;
      background-color: $primary;
      position: absolute;
      left: 50%;
      bottom: calc(100% + 15px);
      transform: translateX(-50%);

      mask: url("../img/icon_arrow.svg") no-repeat center;
      mask-size: contain;
    }
  }
  > li {
    counter-increment: flow-counter;
    border: 1px solid $color-border;
    border-radius: 10px;
    background: $color-white;
    position: relative;
    padding: 30px 40px;
  }

  .ttl {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 15px;

    &::before {
      content: counter(flow-counter, decimal-leading-zero) ". ";
      margin-right: 10px;
    }
  }

  .flow-contents {
    @include flex($f-wrap: nowrap);
    gap: 30px;

    .txt-wrap {
      flex: 1;
    }

    .img-wrap {
      max-width: 240px;
      overflow: hidden;
      flex-shrink: 0;
      border-radius: 10px;
    }
  }
  @media only screen and (max-width: $screen-tb) {
    > li + li {
      margin-top: 40px;
      &:before {
        bottom: calc(100% + 10px);
      }
    }
    > li {
      padding: 15px 20px;
    }

    .ttl {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .flow-contents {
      flex-direction: column;
      gap: 15px;
      .img-wrap {
        max-width: 480px;
        margin: 0 auto;
      }
    }
  }
}
// --------------------------------------------------
// デフォルト（CMS内エディタ用クラス）
// --------------------------------------------------

// リストの中の擬似要素にまでtext-indentが継承される問題！！！
// text-indentを使わない OR before,afterにデフォルト(_core)でtext-indent:0;にする

ul.cms-ullist,
ul.dot-list {
  > li {
    position: relative;
    padding-left: 20px;

    &:before {
      content: "●";
      color: $primary;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &[style="list-style-type: circle;"],
  &[style="list-style-type: square;"] {
    > li {
      text-indent: 0;
      list-style-type: inherit;

      &::before {
        content: none;
      }

      &::marker {
        color: #7c7eba;
      }
    }
  }
}

ol.cms-ollist,
ol.num-list {
  counter-reset: section;

  > li {
    counter-increment: section;
    position: relative;
    padding-left: 20px;

    &:before {
      content: counter(section) ".";
      color: $primary;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &[style="list-style-type: lower-alpha;"],
  &[style="list-style-type: lower-roman;"],
  &[style="list-style-type: upper-alpha;"],
  &[style="list-style-type: upper-roman;"] {
    > li {
      text-indent: 0;
      list-style-type: inherit;
      margin-left: 0;

      &::before {
        content: none;
      }

      &::marker {
        color: #7c7eba;
      }
    }
  }
}

ul.asterisk-list {
  @extend .dot-list;

  > li {
    &:before {
      content: "※";
    }
  }
}
