@charset "UTF-8";
// CMS内エディタ用クラス

@use "../../global" as g;

.table01 {
  width: 100%;
  color: #fff;
}

.table02 {
  width: 100%;
}





// --------------------------------------------------
// その他
// --------------------------------------------------
.overflow-table {
  overflow-x: auto;
}

.nodrop-table {
  tr {
    th,
    td {
      @media only screen and (max-width: g.$screen-tb) {
        display: table-cell;
        width: auto !important;
      }
    }
    th {
      @media only screen and (max-width: g.$screen-tb) {
        white-space: nowrap;
      }
    }
  }
}
