@charset "UTF-8";

@use "../../global" as *;

// --------------------------------------------------
// Table
// --------------------------------------------------
.table01 {
  @include table-subclass();
  width: 100%;

  th,
  td {
    line-height: 1.5;
    padding: 30px;
    border: 1px solid $color-gray;
  }

  thead {
    th {
      color: $color-white;
      background: $primary;
    }
  }

  tbody {
    th {
      color: $color-white;
      background: $primary;
    }
  }

  @media only screen and (max-width: $screen-sp) {
    &:not(.nodrop-table) {
      th,
      td {
        display: block;
        width: 100% !important;
      }
    }
  }

  // 病院用サブクラス
  // &.-dept {
  //   @include nodrop-table;
  //   table-layout: fixed;
  //   th,
  //   td {
  //     text-align: center;
  //     vertical-align: middle;
  //     padding-inline: 10px;
  //   }
  //   @media only screen and (max-width: $screen-sp) {
  //     min-width: 500px;
  //   }
  // }
}

.table02 {
  @include table-subclass();
  width: 100%;

  tr {
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
  }

  th,
  td {
    padding: 20px;
  }

  @media only screen and (max-width: $screen-sp) {
    &:not(.nodrop-table) {
      th,
      td {
        display: block;
        width: 100% !important;
        line-height: 1.5;
        padding: 20px;
      }

      th {
        padding-bottom: 3px;
      }

      td {
        padding-top: 3px;
      }
    }
  }

  &.-middle {
    th,
    td {
      vertical-align: middle;
    }
  }
}

// --------------------------------------------------
// その他
// --------------------------------------------------
.nodrop-table {
  @include nodrop-table;
}