@charset "UTF-8";
// --------------------------------------------------
// Container
// --------------------------------------------------
.l-container {
  overflow: hidden;
  @media only screen and (min-width: $screen-pc-min) {
    min-width: $container-pc;
  }
}

// --------------------------------------------------
// Header
// --------------------------------------------------
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  @if $header-fixed-pc {
    position: fixed;
  }
  @else {
    position: relative;
  }
  @media only screen and (max-width: $screen-tb) {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    @if $header-fixed-sp {
      position: fixed;
    }
    @else {
      position: relative;
    }
  }
}

// --------------------------------------------------
// Key-visual
// --------------------------------------------------
.key-visual {
}

// --------------------------------------------------
// Main
// --------------------------------------------------
.l-main {
}

// --------------------------------------------------
// Page
// --------------------------------------------------
.l-page {
  float: left;
  width: 700px;
}

// --------------------------------------------------
// Side
// --------------------------------------------------
.l-side {
  float: right;
  width: 260px;
  @media only screen and (max-width: $screen-tb) {
    display: none;
  }
}

// --------------------------------------------------
// Footer
// --------------------------------------------------
footer {
}
