@charset "UTF-8";
@use "variable" as *;
// --------------------------------------------------
// 設定
// --------------------------------------------------

// レスポンシブサイトかどうかの設定 - true/false
$responsive: true;

// ヘッダー固定かどうかの設定 - true/false
$header-fixed-pc: true;
$header-fixed-sp: true;

// コンテナ幅
$container-width: 1000px;

// pcのヘッダーの高さ(必須)
$header-height-pc: 100px;

// スマホのヘッダーの高さ(必須)
$header-height-sp: 60px;

// CMS導入サイトかどうかの設定 - true/false
$light-cms: true;

// CMS使用時に設定 - CMSエディタ内幅指定
$light-cms-column-width: $container-width;

// プレークポイント
$screen-tb: 1200px;
$screen-sp: 768px;
$screen-xs: 480px;

$screen-pc-min: ($screen-tb + 1) !default;
$screen-tb-min: ($screen-sp + 1) !default;
$screen-sp-min: ($screen-xs + 1) !default;

// 基本値の設定（全ページ共通）
$base-font: "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
$base-font-color: #333;
$base-link-color: $primary;
$focus-color: $primary;
$link-underline: true !default;

// 基本値の設定（全ページ共通）
$base-font-size: 16px;
$base-font-size-tb: 14px;
$base-font-weight: 400;
$base-line-height: 2;
$base-letter-spacing: 0.06em;

// --- Spacing ---
$space-lg: 100px; // h2など
$space-md: 80px; // h3など
$space-rg: 60px;
$space-sm: 40px; // h4など
$space-xs: 20px; // h5など
$space-lg-tb: 60px;
$space-md-tb: 40px;
$space-rg-tb: 30px;
$space-sm-tb: 20px;
$space-xs-tb: 15px;

// --------------------------------------------------
// グリッドシステム設定
// --------------------------------------------------

// コンテナ両サイドの余白
$gutter-pc: 20px !default;
$gutter-tb: 30px !default;
$gutter-sp: $gutter-tb !default;

// グリッドシステムカラムのそれぞれの間の余白
$grid-gutter-width-pc: 20px !default;
$grid-gutter-width-tb: 10px !default;
$grid-gutter-width-sp: $grid-gutter-width-tb !default;

// コンテナ(.container)サイズ
$container-pc: ($container-width + $gutter-pc) !default;
$container-tb: auto !default;
$container-sp: auto !default;

// 一列のカラム数
$grid-columns: 12 !default;

// --------------------------------------------------
// 色設定
// --------------------------------------------------

// エラー、警告色
$warn-color: #FF0000;
