@charset "UTF-8";

@use "../setting" as *;
@use "sass:map";

$spacer: (
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
);
$align: left, right, center;

// クリアフィックスクラス
@mixin clearfix() {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

//余白クラス作成
@mixin spaceloop($sufix: "") {
  $i: 0;

  @while $i <= 200 {

    // 出力条件
    $output: false;

    @if $i < 100 {
      // 5 or 8 の倍数
      @if ($i % 5 == 0) or ($i % 8 == 0) {
        $output: true;
      }
    } @else {
      // 100以上は5刻み
      @if $i % 5 == 0 {
        $output: true;
      }
    }

    // 出力処理
    @if $output {
      @each $class, $style in $spacer {
        .#{$class}#{$i}#{$sufix} {
          #{$style}: #{$i}px !important;
        }
      }
    }

    $i: $i + 1;
  }
}
// スペーシング設定
$space-map: (
  lg: $space-lg,
  md: $space-md,
  rg: $space-rg,
  sm: $space-sm,
  xs: $space-xs,
);
$space-map-tb: (
  lg: $space-lg-tb,
  md: $space-md-tb,
  rg: $space-rg-tb,
  sm: $space-sm-tb,
  xs: $space-xs-tb,
);

// spacing用mixin
@mixin spacing-class($property, $prefix) {
  @each $key, $val in $space-map {
    .#{$prefix}-#{$key} {
      #{$property}: $val !important;
      @media only screen and (max-width: $screen-tb) {
        #{$property}: map.get($space-map-tb, $key) !important;
      }
    }
    // -tbクラス（タブレット以下のみ適用）
    .#{$prefix}-#{$key}-tb {
      @media only screen and (max-width: $screen-tb) {
        #{$property}: map.get($space-map-tb, $key) !important;
      }
    }
  }
}

// owl用mixin
@mixin owl-spacing($space-map, $space-map-tb) {
  @each $key, $val in $space-map {
    .owl-#{$key} > * + * {
      margin-top: $val !important;
      @media only screen and (max-width: $screen-tb) {
        margin-top: map.get($space-map-tb, $key) !important;
      }
    }
    // -tbクラス（タブレット以下のみ適用）
    .owl-#{$key}-tb > * + * {
      @media only screen and (max-width: $screen-tb) {
        margin-top: map.get($space-map-tb, $key) !important;
      }
    }
  }
}

// 行揃え指定クラス作成
@mixin textalign($sufix: "") {
  @each $value in $align {
    .#{$value}-text#{$sufix} {
      text-align: #{$value} !important;
    }
  }
}

// フォントサイズクラスの生成
@mixin fontsize($sufix: "") {
  @for $i from 8 through 40 {
    .f#{$i}px#{$sufix} {
      font-size: #{$i}px !important;
    }
  }
}

// フォントウェイトクラスの生成
@mixin fontweight {
  @for $i from 1 through 9 {
    .fw#{$i * 100} {
      font-weight: #{$i * 100} !important;
    }
  }
}

// リンクテキストの下線切り替え
@mixin link() {
  @if $link-underline {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  } @else {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// lineheightクラスの生成
@mixin lineheight($sufix: "") {
  $i: 10;

  @while $i <=30 {
    $i: $i + 1;
    .lh#{$i}#{$sufix} {
      line-height: #{$i * 0.1} !important;
    }
  }
}

// letterspacingクラスの生成
@mixin letterspacing($sufix: "") {
  $i: 0;

  @while $i <=100 {
    $i: $i + 1;
    .ls#{$i}#{$sufix} {
      letter-spacing: #{$i * 0.001}em !important;
    }
  }
}

//flex関係
@mixin f-direction($value: row, $important: false) {
  @if $important {
    flex-direction: $value !important;
  } @else {
    flex-direction: $value;
  }
}

@mixin f-wrap($value: wrap, $important: false) {
  @if $important {
    flex-wrap: $value !important;
  } @else {
    flex-wrap: $value;
  }
}

@mixin j-content($value: flex-start, $important: false) {
  @if $important {
    justify-content: $value !important;
  } @else {
    justify-content: $value;
  }
}

@mixin a-items($value: stretch, $important: false) {
  @if $important {
    align-items: $value !important;
  } @else {
    align-items: $value;
  }
}

@mixin flex(
  $f-direction: row,
  $f-wrap: wrap,
  $j-content: flex-start,
  $a-items: stretch
) {
  @include f-direction($f-direction);
  @include f-wrap($f-wrap);
  @include j-content($j-content);
  @include a-items($a-items);
  display: flex;
}

@mixin inline-flex(
  $f-direction: row,
  $f-wrap: wrap,
  $j-content: flex-start,
  $a-items: stretch
) {
  @include f-direction($f-direction);
  @include f-wrap($f-wrap);
  @include j-content($j-content);
  @include a-items($a-items);
  display: inline-flex;
}

// owl
@mixin owl($sufix: "") {
  $i: 5;

  @while $i <=100 {
    $i: $i + 5;
    .owl#{$i}#{$sufix} {
      > * + * {
        margin-top: #{$i}px;
      }
    }
  }
}

@mixin row-owl($sufix: "") {
  $i: 5;

  @while $i <=100 {
    $i: $i + 5;
    .row-owl#{$i}#{$sufix} {
      > * + * {
        margin-left: #{$i}px;
      }
    }
  }
}

// 画像のフェード用クラス
@mixin fade {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &:hover {
    opacity: 0.7;
  }
}

//全体ホバー
@mixin hover-all {
  position: relative;

  > a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 0;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
  }
}
