@charset "UTF-8";

@use "../global" as g;

$flex-direction: (
  fd--row: row,
  fd--column: column
);
$flex-wrap: (
  fw--nowrap: nowrap,
  fw--wrap: wrap
);
$justify-content: (
  jc--start: flex-start,
  jc--end: flex-end,
  jc--center: center,
  jc--between: space-between,
  jc--around: space-around,
  jc--evenly: space-evenly
);
$align-items: (
  ai--start: flex-start,
  ai--end: flex-end,
  ai--center: center,
);

// 余白クラスの生成
@include g.spaceloop();

// 行揃え指定クラス
@include g.textalign();

// フォントサイズクラス作成
@include g.fontsize();

// lineheightのクラス
@include g.lineheight();

// letterspacingのクラス
@include g.letterspacing();

// font-weightのクラス
@include g.fontweight();

// クリアフィックス
.clearfix {
  @include g.clearfix;
}

// ポジションクラス
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.static {
  position: static !important;
}

// pタグ同士の間の余白用クラス
.mt1em {
  margin-top: 1em;
}
.mb1em {
  margin-bottom: 1em;
}

// 画像用幅設定クラス
.mw100 {
  max-width: 100%;
  height: auto;
}
.w100 {
  width: 100% !important;
}

// 画像のフェード用クラス
.fade {
  transition: opacity 0.2s;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &:hover {
    opacity: 0.7;
  }
}

// フロートクラス
.left-box{
  float: left !important;
}
.right-box{
  float: right !important;
}
.center-box{
  margin-left: auto !important;
  margin-right: auto !important;
}

//フロートクラス（forSp)
.left-sp {
  float: left !important;
}

.right-sp {
  float: right !important;
}

// フォント太さクラス
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}

@if g.$responsive {
  @media only screen and (max-width: g.$screen-tb) {
    // 行揃え指定クラス
    @include g.textalign(-tb);

    // タブレット用余白クラスの生成
    @include g.spaceloop(-tb);

    // タブレット用フォントサイズクラスの生成
    @include g.fontsize(-tb);

    // タブレット用lineheightのクラス
    @include g.lineheight(-tb);

    // タブレット用letterspacingのクラス
    @include g.letterspacing(-tb);
  }

  @media only screen and (max-width: g.$screen-sp) {
    // 行揃え指定クラス
    @include g.textalign(-sp);

    // スマホ用余白クラスの生成
    @include g.spaceloop(-sp);

    // スマホ用フォントサイズクラスの生成
    @include g.fontsize(-sp);

    // スマホ用lineheightのクラス
    @include g.lineheight(-sp);

    // スマホ用letterspacingのクラス
    @include g.letterspacing(-sp);
  }

  // デバイスごとのディスプレイ指定クラス
  .pc {
    @media only screen and (max-width: g.$screen-tb) {
        display: none !important;
    }
  }
  .pctb {
    @media only screen and (max-width: g.$screen-sp) {
        display: none !important;
    }
  }
  .tb {
    @media only screen and (min-width: g.$screen-pc-min) {
      display: none !important;
    }
  }
  .sp {
    @media only screen and (min-width: g.$screen-tb-min) {
      display: none !important;
    }
  }
}

//フレックス
.flex {
  @include g.flex;
}
@each $class, $value in $flex-direction {
  .#{$class} {
    @include g.f-direction($value);
  }
}
@each $class, $value in $flex-wrap {
  .#{$class} {
    @include g.f-wrap($value);
  }
}
@each $class, $value in $justify-content {
  .#{$class} {
    @include g.j-content($value);
  }
}
@each $class, $value in $align-items {
  .#{$class} {
    @include g.a-items($value);
  }
}
@if g.$responsive {
  @media only screen and (max-width: g.$screen-tb) {
    @each $class, $value in $flex-direction {
      .#{$class}-tb {
        @include g.f-direction($value);
      }
    }
    @each $class, $value in $flex-wrap {
      .#{$class}-tb {
        @include g.f-wrap($value);
      }
    }
    @each $class, $value in $justify-content {
      .#{$class}-tb {
        @include g.j-content($value);
      }
    }
    @each $class, $value in $align-items {
      .#{$class}-tb {
        @include g.a-items($value);
      }
    }
  }
  @media only screen and (max-width: g.$screen-sp) {
    @each $class, $value in $flex-direction {
      .#{$class}-sp {
        @include g.f-direction($value);
      }
    }
    @each $class, $value in $flex-wrap {
      .#{$class}-sp {
        @include g.f-wrap($value);
      }
    }
    @each $class, $value in $justify-content {
      .#{$class}-sp {
        @include g.j-content($value);
      }
    }
    @each $class, $value in $align-items {
      .#{$class}-sp {
        @include g.a-items($value);
      }
    }
  }
}
