@charset "UTF-8";

@use "../global" as g;

//
// グリッドシステム
// --------------------------------------------------


// コンテナ幅
//
// 設定された幅のコンテナを生成

.container {
  @include g.container-fixed;
  width: g.$container-pc;

  @if g.$responsive {
    @media only screen and (max-width: g.$screen-tb) {
      width: g.$container-tb;
    }
    @media only screen and (max-width: g.$screen-sp) {
      width: g.$container-sp;
    }
  }
}


// フルイドコンテナ
//
// 横幅100%のコンテナを生成

.container-fluid {
  @include g.container-fixed;
}


// Rowクラス
//
// グリッドカラム用のラッパークラスを生成

.row {
  @include g.make-row;
}


// カラム
//
// カラムクラス生成
@include g.make-grid-columns;
@include g.make-grid(null);

@if g.$responsive {
  @include g.make-responsive-grid-columns;

  // タブレット用グリッド
  @media only screen and (max-width: g.$screen-tb) {
    @include g.make-grid(-tb);
  }

  // スマホ用グリッド
  @media only screen and (max-width: g.$screen-sp) {
    @include g.make-grid(-sp);
  }
}
