@charset "UTF-8";

//@use "../global" as *;

@media print {
  .tb,
  .sp {
    display: none !important;
  }

  .l-container {
    overflow: visible !important;
  }

  header {
    position: inherit !important;
  }

  .key-visual.top {
    max-height: 600px !important;
  }
}
