@charset "UTF-8";

//@use "../global" as g;

@media print {
  .tb,
  .sp {
    display: none !important;
  }
  .l-container {
    overflow: visible !important;
  }
  header {
    position: inherit !important;
  }
}
